@import "TextStyle.css";
@import "Reveal.css";

/* const colours to allow easy editing of colour schemes over the website */
html, body{
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

body{
	 /* background by SVGBackgrounds.com */
	background-attachment: fixed;
	background-size: cover;

	margin: 0px;
	overflow-x: hidden;
	--HighlightColor: rgba(255,255,255,0.3);
	--ShadowColor: rgba(0,0,0,0.3);
	--DarkenBackground: rgba(0,0,0,0.75);

	--InvalidColour: #FF6961;
	--InvalidColour-Contrast: black;

	--ColourMain: #0085FF;
	--ColourMain-Contrast: black;

	--ColourAccent: #FF9E00;
	--ColourAccent-Contrast: black;

/* dark mode */
	background-image: url("BackgroundDark.svg");

	--Colour-Text1: rgb(255, 255, 255);
	--Colour-Text2: rgb(255, 255, 255);
	--Colour-Text3: rgb(225, 225, 225);
	--Colour-Text4: rgb(215, 215, 215);
}

/* light mode */
body.light{
	background-image: url("BackgroundLight.svg");

	--Colour-Text1: rgb(0, 0, 0);
	--Colour-Text2: rgb(0, 0, 0);
	--Colour-Text3: rgb(25, 25, 25);
	--Colour-Text4: rgb(40, 40, 40);
}


section{
	margin-top: 10rem;
	margin-bottom: 5rem;
	padding: 1em;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bottom{
	position: absolute;
	padding: 0px;
	margin: 0px;
	bottom: 0.5em;

	width: 100%;
	height: 1.5em;
}

.hide {
	display: none;
}

.neonOutline{
	box-shadow:
	-0.125em -0.125em 0.125em 0 var(--ColourAccent),
				0.5em 1em 1em 0 rgba(0,0,0,75%);
}

.neonOutline:hover{
	box-shadow: -0.125em -0.125em 0.125em 0 var(--ColourAccent),
				0 0 2em 0 var(--ColourAccent),
				0.5em 1em 1em 0 rgba(0,0,0,75%);
}

.glass{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
	backdrop-filter: blur(15px);
	border-style: solid;
	border-width: 1px;
	border-top-color: var(--HighlightColor);
	border-left-color: var(--HighlightColor);
	border-bottom-color: var(--ShadowColor);
	border-right-color: var(--ShadowColor);
}

.rounded{
	border-radius: 1.5em;
}


.centeredFrame{
	margin-left: 15%;
	margin-right: 15%;
}

picture > img{
	width: 100%;
	height: 100%;
}

/*Tablet -------------------------------------*/
@media only screen and (min-width: 1001px) and (max-width: 1350px){
	.centeredFrame{
		margin-left: 10%;
		margin-right: 10%;
	}
}

/*Tablet -------------------------------------*/
@media only screen and (min-width: 701px) and (max-width: 1000px){
	.centeredFrame{
		margin-left: 5%;
		margin-right: 5%;
	}
}

/*Phone -------------------------------------*/
@media only screen and (max-width: 700px){
	.centeredFrame{
		margin-left: 0px;
		margin-right: 0px;
	}
}

/* buttons */

.disabled{
	cursor:not-allowed;
}

button {
	border: none;
	padding: 0px 0px;
	background-color: transparent;
}

button:disabled {
	cursor:not-allowed;
}

/* Tables */
table {
	border-collapse: collapse;
	text-align: center;
}

th, td {
	border: 2px solid black;
	padding: 0.35em;
}

td.Invalid{
	background-color: var(--InvalidColour);
	color: var(--InvalidColour-Contrast);
}

th{
	background-color: var(--ColourAccent);
	color: var(--ColourAccent-Contrast);
}

/* lists */

ul{
	list-style: none;
	padding-left: 1.5em;
}

ul li::before {
	content: "\25A0";  /* Add content: \25A0 is the CSS Code/unicode for a SQUARE bullet */
	color: var(--ColourAccent);
	display: inline-block;
	width: 0.75em;
	margin-left: -0em;
}
