.quickInfoHolder{
	display: flex;
	justify-content:center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.quickInfo{
	display: flex;
	text-align: center;
	margin-inline: 0.5em;
	padding: 0.25em;
	background-color: var(--BackgroundColour);
	border-radius: 1em;
	border: 2px solid var(--Colour-Text1);
}

.quickInfo > *{
	margin: 0px;
	padding: 0px;
	margin-inline: 0.25em;
	color: var(--Colour-Text1);
}