.quickInfoHolder,
.quickLinkHolder{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.quickSkills{
	margin-bottom: 3em;
}

.quickSkills > h4{
	margin-top: 1em;
}

.quickSkills > .quickInfoHolder{
	flex-direction: row-reverse;
}

.quickInfo{
	display: flex;
	text-align: center;
	margin-block: 0.25em;
	margin-inline: 0.25em;
	padding: 0.25em;
	background-color: var(--BackgroundColour);
	border-radius: 1em;
	border: 2px solid var(--Colour-Text1);
}

.quickInfo button{
	display: flex;
}

.quickInfo *{
	margin: 0px;
	padding: 0px;
	margin-inline: 0.25em;
	color: var(--Colour-Text1);
}

.quickLinkHolder .quickInfo{
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 5px;
	transform: scale(1);
	transition: all 0.2s;
	border-color: var(--ColourMain);
}

.quickLinkHolder .quickInfo:hover,
.quickLinkHolder .quickInfo:focus{
	transform: scale(1.2);
	border-color: var(--ColourAccent);
	border-bottom-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
}