@import "footerStyle.css";
@import "headerStyle.css";
@import "slide.css";
@import "textStyle.css";

/* const colors to allow easy editing of colour schemes over the website */
body{
	background: var(--BackGround);
	height: 100%;
	margin: 0px;
	--Colour-neutral: rgb(175, 175, 175);
	--Colour-neutral2: rgb(150, 150, 150);
	--Colour-neutral3: rgb(225, 225, 225);

	--Glass-Colour:rgb(225, 225, 225, 0.1);
	--ShadowColor: rgba(0,0,0,0.3);
	--DarkenBackground: rgba(0,0,0,0.75);

	--Colour-Accent1: rgb(0, 255, 13);
	--Colour-Accent2: rgb(240, 53, 178);
	--Colour-Accent3: rgb(197, 102, 226);
	--Colour-Accent4: rgb(230, 227, 98);



	--LightText: white;
	--DarkText: black;

	--BackGround: var(--Colour-neutral);
	--DefaultText: var(--DarkText);

	font-family: 'Times New Roman', Times, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 18px;
}

body.dark{
	--Colour-neutral: rgb(50, 50, 50);
	--Colour-neutral2: rgb(75, 75, 75);
	--Colour-neutral3: rgb(100, 100, 100);
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.centeredFrame{
	margin-left: 15%;
	margin-right: 15%;
}

/* buttons */

button {
	border: none;
	padding: 10px 10px;
	font-size: 25px;
	background-color: var(--DarkButtonBackground);
	color: var(--DarkButtonText);
}

button:hover {
	transition-duration: 0.5s;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px var(--ShadowColor);
}

button:disabled {
	cursor:not-allowed;
}

button:disabled:hover {
	box-shadow: 0px 0px 0px 0px var(--ShadowColor);
}

/* image buttons */
.imageButton{
	display: inline-block;
	overflow: hidden;
}
.imageButton img{
	display: block;
	transition: .25s ease-in-out;
}

.imageButton img:hover{
	transform: scale(1.05);
}

/* Tables */
table {
	border-collapse: collapse;
	text-align: center;
}

th, td {
	border: 2px solid black;
	background-color: var(--Colour-neutral);
	padding: 0.5em;
}

td.Invalid{
	background-color: red;
}

th{
	background-color: var(--Colour-Accent2);
}