@import "footerStyle.css";
@import "headerStyle.css";
@import "slide.css";
@import "textStyle.css";

/* const colors to allow easy editing of colour schemes over the website */
html, body{
	height: 100%;
	width: 100%;
}

body{
	background: var(--BackGround);
	margin: 0px;
	--ShadowColor: rgba(0,0,0,0.3);
	--DarkenBackground: rgba(0,0,0,0.75);
	--Colour-Accent: rgb(240, 53, 178);
	--BackGround: var(--Colour-neutral);
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 18px;

/* dark mode */
	--Colour-neutral: rgb(50, 50, 50);
	--Colour-neutral2: rgb(75, 75, 75);
	--Colour-neutral3: rgb(100, 100, 100);

	--Colour-Text1: rgb(255, 255, 255);
	--Colour-Text2: rgb(255, 255, 255);
	--Colour-Text3: rgb(205, 205, 205);
	--Colour-Text4: rgb(175, 175, 175);
}

/* light mode */
body.light{
	--Colour-neutral: rgb(225, 225, 225);
	--Colour-neutral2: rgb(150, 150, 150);
	--Colour-neutral3: rgb(175, 175, 175);

	--Colour-Text1: rgb(0, 0, 0);
	--Colour-Text2: rgb(0, 0, 0);
	--Colour-Text3: rgb(50, 50, 50);
	--Colour-Text4: rgb(75, 75, 75);
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

.neonOutline{
	box-shadow: -0.125em -0.125em 0.125em 0 hsla(190, 100%, 50%),
				0 0 2em 0 rgb(0, 132, 255),
				0.5em 1em 1em 0 rgba(0,0,0,75%);
}

.glass{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
	backdrop-filter: blur(15px);
	border-style: solid;
	border-width: 1px;
	border-top-color: rgba(255, 255, 255, 0.3);
	border-left-color: rgba(255, 255, 255, 0.3);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-right-color: rgba(0, 0, 0, 0.3);
}


.centeredFrame{
	margin-left: 15%;
	margin-right: 15%;
}

/*Tablet -------------------------------------*/
@media only screen and (min-width: 1001px) and (max-width: 1350px){
	.centeredFrame{
		margin-left: 10%;
		margin-right: 10%;
	}
}

/*Phone -------------------------------------*/
@media only screen and (max-width: 1000px){
	.centeredFrame{
		margin-left: 0px;
		margin-right: 0px;
	}
}

/* buttons */

button {
	border: none;
	padding: 10px 10px;
	font-size: 25px;
	background-color: var(--DarkButtonBackground);
	color: var(--DarkButtonText);
}


button:disabled {
	cursor:not-allowed;
}


/* image buttons */
.imageButton{
	display: inline-block;
	overflow: hidden;
}
.imageButton img{
	display: block;
	transition: .25s ease-in-out;
}

.imageButton img:hover{
	transform: scale(1.05);
}

/* Tables */
table {
	border-collapse: collapse;
	text-align: center;
}

th, td {
	border: 2px solid black;
	background-color: var(--Colour-neutral);
	padding: 0.35em;
}

td.Invalid{
	background-color: red;
}

th{
	background-color: var(--Colour-Accent2);
}