footer{
	background-color: var(--Colour-neutral3);
	text-align: center;
	width:100%;
	padding-top: 25px;
	padding-bottom: 0px;
}

#copyRight{
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 1em;
	margin: 0px;
}

.ContactLinkHolder{
	text-align: center;
	align-content: center;
	align-self: center;
}

.ContactLinkHolder > img,
.ContactLinkHolder > picture{
	width: 2.5em;
	height: 2.5em;
	margin: 1em;
	transition: 0.3s;
}

.ContactLinkHolder > img:hover,
.ContactLinkHolder > picture:hover{
	transform: scale(1.25);
}