
.itemsHolder{
	align-items: center;
	background-color: var(--Colour-neutral2);
	overflow: hidden;
}

/* container */
.itemContainer{

	--FarSidePadding: 25%;

	background-color: var(--Colour-neutral3);
	border-radius: 5em;
	display: grid;
	grid-template-columns: 50% 50%;

	margin-top: 4.25em;
	margin-bottom: 3.25em;
	overflow: hidden;

	text-align: left;
	transition: all 0.5s ease-out;

	box-shadow: -0.125em -0.125em 0.125em 0 hsla(190, 100%, 50%),
				0 0 2em 0 rgb(0, 132, 255),
				0.5em 1em 1em 0 rgba(0,0,0,75%);
}

/*Mobile and Tablet-------------------------------------*/
@media only screen and (max-width: 1010px){
	.itemContainer{
		grid-template-columns: 1fr;
		--FarSidePadding: 0px;
		border-radius: 0px;
	}
}

/*Tablet-------------------------------------*/
@media only screen and (min-width: 1011px) and (max-width: 1500px){
	.itemContainer{
		grid-template-columns: 1fr 1fr;
		--FarSidePadding: 0px;
		border-radius: 0px;
	}
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1501px) and (max-width: 1900px){
	.itemContainer{
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 1901px){
	.itemContainer{
		grid-template-columns: 1fr 1fr;
	}
}

.itemContainer.Left:hover, .itemContainer.Right:hover{
	margin-right: 0px;
	margin-left: 0px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	z-index: 1;
	position: relative;
}

/* Left */
.itemContainer.Left{
	margin-right: var(--FarSidePadding);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0;
}

/* Right */
.itemContainer.Right{
	margin-left: var(--FarSidePadding);
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: 0;
}

/* Content */
.itemContainer video, .itemContainer img{
	object-fit: cover;
	width: 100%;
	height: auto;
}

/* .itemContainer div{
	margin: 2em;
} */