
.itemsHolder{
	align-items: center;
	overflow: hidden;
}

/* container */
.itemContainer{

	--FarSidePadding: 25%;

	border-radius: 5em;
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin-top: 4.25em;
	margin-bottom: 3.25em;
	overflow: hidden;

	text-align: left;
	transition: all 0.5s ease-out;

}

/*Mobile and Tablet-------------------------------------*/
@media only screen and (max-width: 1010px){
	.itemContainer{
		grid-template-columns: 1fr;
		--FarSidePadding: 0px;
		border-radius: 0px;
		margin-top: 5em;
		margin-bottom: 5em;
	}
}

/*Tablet-------------------------------------*/
@media only screen and (min-width: 1011px) and (max-width: 1500px){
	.itemContainer{
		grid-template-columns: 1fr 1fr;
		--FarSidePadding: 0px;
		border-radius: 0px;
		margin-top: 5em;
		margin-bottom: 5em;
	}
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1501px) and (max-width: 1900px){
	.itemContainer{
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 1901px){
	.itemContainer{
		grid-template-columns: 1fr 1fr;
	}
}

.itemContainer.Left:hover, .itemContainer.Right:hover{
	margin-right: 0px;
	margin-left: 0px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	z-index: 1;
	position: relative;
}

/* Left */
.itemContainer.Left{
	margin-right: var(--FarSidePadding);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0;
}

/* Right */
.itemContainer.Right{
	margin-left: var(--FarSidePadding);
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: 0;
}

/* Content */
.itemContainer > video,
.itemContainer > img,
.itemContainer > picture{
	object-fit: cover;
	width: 100%;
	height: auto;
}