.reveal{
	/* transition: all 1s ease-out; */
}

.reveal.hidden{
	transition: all 1s ease-out;
	opacity: 0;
}

.reveal.hidden.Left{
	transform: translateX(-15vw);
}

.reveal.hidden.Right{
	transform: translateX(15vw);
}

.reveal.hidden.Bottom{
	transform: translateY(5vh);
}

.reveal.shown{
	/* opacity: 1; */
}