@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Shared-------------------------------------*/
*{
	color: var(--Colour-Text3);
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;

	font-family: 'Roboto';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 125%;
}

h1{
	color: var(--Colour-Text1);
	font-family: 'Roboto';
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	margin-block-start: 0;
	margin-block-end: 0;
	line-height: 95%;
	margin-top: 2.5em;
	margin-bottom: 1em;

	margin-left: 0.05em;
	margin-right: 0.05em;
	letter-spacing: 0.025em;
}

h2{
	color: var(--Colour-Text2);
	font-family: 'Roboto';
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0.0125em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h3{
	color: var(--Colour-Text2);
	font-family: 'Roboto';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4{
	color: var(--Colour-Text2);
	font-family: 'Roboto';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
	h1{
		font-size: 50px;
	}

	h2{
		font-size: 35px;
	}

	h3{
		font-size: 35px;
	}

	h4{
		font-size: 20px;
	}

	*{
		font-size: 15px;
	}
}

/*Tablet-------------------------------------*/
@media only screen and (min-width: 571px) and (max-width: 1010px){
	h1{
		font-size: 70px;
	}

	h2{
		font-size: 40px;
	}

	h3{
		font-size: 40px;
	}

	h4{
		font-size: 25px;
	}

	*{
		font-size: 20px;
	}
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px){
	h1{
		font-size: 80px;
	}

	h2{
		font-size: 40px;
	}

	h3{
		font-size: 40px;
	}

	h4{
		font-size: 25px;
	}

	*{
		font-size: 20px;
	}
}
