<!-- used for light/dark mode icons -->
<Header>
	<a id="headerLogo" href="/">
		<%- include('Picture', {ImgData: {
			Path:PageData.PathToRoot + "Public/Assets/Logo/Logo",
			ClassList: "",
			Alt:"Cover photo",
			Sizes: "5em"
		}}); %>

	</a>
	<nav>
		<% if (PageData.PageName == 'index') { %>
			<a href="/Degree/"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Degree
			</a>
			<a href="#WorkExperience"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Work Experience
			</a>
			<a href="#PersonalProjects"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Personal Projects
			</a>
			<a href="#GameJams"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Game Jams
			</a>
		<%}else{%>
			<a href="/" id="homeNavLink"
				class="navLink scaleOnFocus <% if (PageData.PageName == 'index') { %> selected<%}%>">Home
			</a>
			<% if (PageData.PageParent == 'Degree/' ) { %>
				<a href="/Degree/"
					class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Degree
				</a>
			<%}%>
		<%}%>
		<a href="CV.pdf" target="_blank" class="cvButton shaded sheen scaleOnFocus right">
			CV <span class="material-icons">download</span>
		</a>
	</nav>
</Header>