.timelineWrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: auto;
}

.timelineHolder{
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* flex-wrap: wrap; */

	overflow: auto;

	padding-inline: 5em;
	width: calc(var(--duration) * var(--dateScale));

	position: relative;

	margin-block: 2em;
}

.indent{
	--timelineHeight: 4em;
	height: var(--timelineHeight);
	width: 100%;
	margin-block: 0.5em;

	position: relative;
}





.timeline,
.timelineHeader{
	--tileHight: 1.75em;
	--Colour: var(--Colour-Text3);


	position: absolute;
	left: calc(var(--dateOffset) * var(--dateScale));
	width: calc(var(--duration) * var(--dateScale));
	height: var(--timelineHeight);
}

.timelineHeader{
	--tickWidth: 0.3em;
	--tickHeight: 1em;
	--lineBorderWidth: 2px;
}

.timeline{
	--tickWidth: 0.8em;
	--tickHeight: 0.8em;
	--lineBorderWidth: 2px;
}

a.timeline{
	--Colour: var(--ColourAccent);
}

a.timeline:hover{
	--tickWidth: 1em;
	--tickHeight: 1em;
	--lineBorderWidth: 3px;
	--Colour: var(--ColourMain);
}

.timeline:hover{
	--timelineHovered: 1;
}




.timelineTitle{
	position: absolute;
	top: 0px;
	left: -0.5em;
	margin: 0px;
	padding: 0px;

	height: 1.2em;
	width: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 0px 0px 4px var(--BackgroundColour);
}

.timeline:hover > .timelineTitle{
	/* width: max-content; */
	white-space: normal;
	overflow: visible;
}


.line{
	position: absolute;

	border: var(--lineBorderWidth) solid var(--Colour);
	top: calc(var(--tileHight) + var(--tickHeight)*0.5 - var(--lineBorderWidth));
	width: calc(100% - var(--lineBorderWidth)*2 - var(--tickWidth));
	left: calc(var(--tickWidth) / 2);

	transition: all 0.1s;
}

.tick{
	position: absolute;
	width: calc(var(--tickWidth) * var(--tickScale, 1));
	height: calc(var(--tickHeight) * var(--tickScale, 1));

	background-color: var(--Colour);
	border: 1px solid var(--ColourAccent-Contrast);

	top: calc(var(--tileHight) + 0.5*var(--tickHeight) - 0.5*(var(--tickHeight)*var(--tickScale, 1)));

	left: calc(var(--dateOffset) * var(--dateScale) - var(--tickWidth) * var(--tickScale, 1) / 2);

	transition: all 0.1s;
}

.tick.large{
	--tickScale: 1.5;
}

.timeline > .tick{
	border-radius: 50%;
}

.tick > *{

	top: calc(var(--tickHeight) * var(--tickScale, 1));
	left: -1em;
	position: absolute;


	margin: 0px;
	padding: 0px;
	text-align: center;
	text-wrap: nowrap;
}

.timeline > .tick > *{
	opacity: var(--timelineHovered, 0);
}