/* cardHolder */
.cardHolder{
	display: grid;
}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
	.cardHolder{
		grid-template-columns: 1fr;
	}
}

/*Tablet-------------------------------------*/
@media only screen and (min-width: 571px) and (max-width: 1500px){
	.cardHolder{
		grid-template-columns: 1fr 1fr;
	}
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1501px) and (max-width: 1900px){
	.cardHolder{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1901px){
	.cardHolder{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


/* card */
.card{
	padding-bottom: 2.5em;
	margin: 1.5em;
	margin-bottom: 1em;
	text-align: center;
	border-radius: 2em;
	overflow: hidden;
	position: relative;
	text-decoration: none;
}

.card > .cardImage,
.card > img,
.card > picture{
	transition-duration: 0.5s;
	width: 100%;
	height: auto;
	max-height: 20em;
	overflow: hidden;
	object-fit: cover;
	position: relative;
}

.cardImage > img,
.cardImage > picture{
	transition-duration: 0.5s;
	width: 100%;
	height: auto;
	max-height: 20em;
	overflow: hidden;
	object-fit: cover;
	position: relative;
}

.card p{
	padding-left: 10px;
	padding-right: 10px;
}

.card h3{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

/* quick info */


.card > .cardImage > .quickInfoHolder,
.card > .cardImage > .quickLinkHolder{
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	flex-wrap: nowrap;
}

.card > .cardImage > .quickInfoHolder{
	top: 0px;
}

.card > .cardImage > .quickLinkHolder{
	bottom: 0px;
	right: 0px;
}

/* only hide when not being hovered if this device supports hover state */
@media (hover: hover) {
	.card > .cardImage > .quickInfoHolder > .quickInfo{
		transform: translateY(-5em);
		opacity: 0;
		transition-property: opacity, transform;
		transition-duration: 0.35s;
	}

	.card > .cardImage > .quickLinkHolder > .quickInfo{
		transform: translateY(5em);
		opacity: 0;
		transition-property: opacity, transform;
		transition-duration: 0.35s;
	}
}

.card:hover > .cardImage > .quickInfoHolder > .quickInfo,
.card:hover > .cardImage > .quickLinkHolder > .quickInfo,
.card:focus > .cardImage > .quickInfoHolder > .quickInfo,
.card:focus > .cardImage > .quickLinkHolder > .quickInfo{
	opacity: 1;
	transform: translateY(0px);
}

.card > .cardImage > .quickInfoHolder > .quickInfo{
	padding-top: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: 0px;
	margin-block: 0px;
}