@import "TextStyle.css";
@import "Reveal.css";
@import "QuickInfo.css";

/* const colours to allow easy editing of colour schemes over the website */
html, body{
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;


	margin: 0px;
	overflow-x: hidden;
	--HighlightColor: rgba(255,255,255,0.3);
	--ShadowColor: rgba(0,0,0,0.3);
	--DarkenBackground: rgba(0,0,0,0.75);

	--PositiveColour: #42b72a;
	--PositiveColour-Contrast: white;

	--InvalidColour: #FF6961;
	--InvalidColour-Contrast: black;

	--ColourMain: #0085FF;
	--ColourMain-Contrast: black;

	--ColourAccent: #FF9E00;
	--ColourAccent-Contrast: black;
	--BackgroundColour: rgb(var(--BackgroundColour-RGB));

/* dark mode */
	--BackgroundImageUrl: url("BackgroundDark.svg");

	--BackgroundColour-RGB: 0,0,0;
	--Colour-Text1: rgb(255, 255, 255);
	--Colour-Text2: rgb(255, 255, 255);
	--Colour-Text3: rgb(225, 225, 225);
	--Colour-Text4: rgb(215, 215, 215);
	--Colour-Contrast-Filter: saturate(0%) brightness(0%) invert(100%);
}

/* light mode */
body.light{
	--BackgroundImageUrl: url("BackgroundLight.svg");

	--BackgroundColour: white;
	--Colour-Text1: rgb(0, 0, 0);
	--Colour-Text2: rgb(0, 0, 0);
	--Colour-Text3: rgb(25, 25, 25);
	--Colour-Text4: rgb(40, 40, 40);
	--Colour-Contrast-Filter: saturate(0%) brightness(0%);
}

.background{
	/* background by SVGBackgrounds.com */
	background-attachment: fixed;
	background-size: cover;
	background-image: var(--BackgroundImageUrl);
}

:target:before {
	content: "";
	display: block;
	height: 6rem;
	margin: -6rem 0 0;
}

/* parallax */
.parallaxHolder{
	margin: 0px;
	display: block;
	position: relative;
	width: 100%;
}



/* cover */
.cover{
	height: calc(100vh - 5rem);
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}
@media only screen and (min-width: 551px) and (max-width: 900px){
	.cover{
		height: calc(66vh - 5rem);
	}
}

@media only screen and (max-width: 550px){
	.cover{
		height: calc(45vh - 5rem);
	}
}

.parallaxObj{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
}

.cover > .parallaxObj > img,
.cover > .parallaxObj > picture,
.cover > .parallaxObj > video{
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.coverOverlay{
	position:absolute;

	left: 0px;
	bottom: 0px;
	width: max-content;
	height: max-content;

	padding: 0.25em;
	padding-left: 2em;
	padding-bottom: 1em;
	border-top-right-radius: 2.5em;
}

@media only screen and (max-width: 750px){
	.coverOverlay{
		width: 100%;

		padding-left: 0.5em;
		border-top-right-radius: 0em;
	}
}

#cover_name{
	margin: 0em;
	padding-bottom: 0.25em;

	background: linear-gradient(#fe7d76, #e31005);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#cover_title{
	margin: 0em;
	background-color:#025caf;
	color: white;
	width: max-content;
	padding-block: 0.25em;
	padding-inline: 0.5em;
}

.material-icons{
	color: var(--Colour-Text1);
}

.icon{
	height: 1em;
	width: 1em;
}

.icon.greyScale{
	filter: var(--Colour-Contrast-Filter);
}

section{
	margin-top: 10rem;
	margin-bottom: 5rem;
	padding: 1em;
}

.left{
	text-align: left;
	justify-self: left;
}

.right{
	text-align: right;
	justify-self: right;
}

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-self: center;
}

.bottom{
	position: absolute;
	padding: 0px;
	margin: 0px;
	bottom: 0.5em;

	width: 100%;
	height: 1.5em;
}

.hide{
	display: none;
}

.glass{
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);

	border: 1px solid var(--HighlightColor);

	box-shadow: 0em 0em 0.5em 0.125em rgba(0,0,0,50%);
}

.glass.frosted{
	background: linear-gradient(135deg, rgba(var(--BackgroundColour), 0.1), rgba(var(--BackgroundColour), 0.2));
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
}

.neonOutline{
	border: 1px solid var(--ColourAccent);
	box-shadow:	0.125em 0.125em 0.25em 0 rgba(0,0,0,50%),
				-0.125em -0.125em 0.125em 0 var(--ColourAccent),
				0 0 3px 0 var(--ColourAccent);
}

.neonOutline:hover, .neonOutline:focus{
	box-shadow: 0.125em 0.125em 0.25em 0 rgba(0,0,0,50%),
				0 0 2em 0 var(--ColourAccent),
				-0.125em -0.125em 0.125em 0 var(--ColourAccent),
				0 0 3px 0 var(--ColourAccent);
}

.noBorder{
	border:none;
}

.shaded{
	position: relative;
	box-shadow: 0em 0.125em 0.25em 0 rgba(0,0,0,50%);
}

.shaded::before{
	border-radius: inherit;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom,rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 50%,rgba(0,0,0,0.35) 100%);
}

.sheen{
	position: relative;
	overflow: hidden;
}

.sheen::after{
	content: "";
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;

	background: linear-gradient( 70deg, rgb(0, 0, 0, 0) 50%, rgb(255, 255, 255, 0.75) 80%, rgb(0, 0, 0, 0) 90%);

	animation-name: sheenSlide;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes sheenSlide {
	0% {transform:translateX(-100%);}
	70% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.scaleOnFocus{
	transition: transform 0.2s;
	transform: scale(1);
}

.scaleOnFocus:focus,
.scaleOnFocus:hover{
	transform: scale(1.1);
}

.rounded{
	border-radius: 1.5em;
}

.centeredFrame{
	margin-left: 15%;
	margin-right: 15%;
}

picture > img{
	width: 100%;
	height: 100%;
}

img{
	max-width: 100%;
	max-height: 100%;
}

/*Tablet -------------------------------------*/
@media only screen and (min-width: 1001px) and (max-width: 1350px){
	.centeredFrame{
		margin-left: 10%;
		margin-right: 10%;
	}
}

/*Tablet -------------------------------------*/
@media only screen and (min-width: 701px) and (max-width: 1000px){
	.centeredFrame{
		margin-left: 5%;
		margin-right: 5%;
	}
}

/*Phone -------------------------------------*/
@media only screen and (max-width: 700px){
	.centeredFrame{
		margin-left: 0px;
		margin-right: 0px;
	}
}

/* buttons */

.disabled{
	cursor:not-allowed;
}

button{
	border: none;
	padding: 0px 0px;
	background-color: transparent;
}

button:disabled{
	cursor:not-allowed;
}

/* Tables */
table{
	border-collapse: collapse;
	text-align: center;
}

th, td{
	border: 2px solid black;
	padding: 0.35em;
}

td.Invalid{
	background-color: var(--InvalidColour);
	color: var(--InvalidColour-Contrast);
}

th{
	background-color: var(--ColourAccent);
	color: var(--ColourAccent-Contrast);
}


hr.gap{
	border: none;
	margin-block: 5em;
}

/* lists */

ul{
	list-style: none;
	padding-left: 1.5em;
}

ul li::before{
	content: "\25A0";  /* Add content: \25A0 is the CSS Code/unicode for a SQUARE bullet */
	color: var(--ColourAccent);
	display: inline-block;
	width: 0.75em;
	margin-left: -0em;
}