Header{
	width: 100%;
	z-index:1000;
	height: 0;
	position: sticky;
	top: -1px;

	display: flex;
}

#headerLogo{
	height: 5em;
	width: 5em;
	border-bottom-right-radius:1.5em;
	overflow: hidden;
}
#headerLogo > img{
	height: 5em;
	width: 5em;
}

nav{
	padding-left: 5em;
	height: 4em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
	background: linear-gradient(
		rgba(var(--BackgroundColour-RGB), 0.6) 0%,
		rgba(var(--BackgroundColour-RGB), 0.4) 65%,
		rgba(var(--BackgroundColour-RGB), 0) 100%);
}

.navLink{
	margin-block: 0.25em;
	margin-inline: 1em;
	text-decoration: none;
	text-transform:uppercase;
	color: var(--Colour-Text1);
	font-size: 1.5rem;


	text-shadow: 4px 2px 8px var(--BackgroundColour);;
}

.navLink.selected,
.navLink:hover,
.navLink:focus{
	text-decoration: underline;
	text-decoration-thickness: 0.2em;
}

.navLink:hover,
.navLink:focus{
	text-decoration-color: var(--ColourAccentRGB);
}

.cvButton{
	height: 1em;
	padding-inline: 1.5em;
	padding-block: 1em;

	background-color: var(--PositiveColour);
	border: 2px solid var(--PositiveColour-Contrast);
	border-radius: 1em;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 2em;
	margin-right: 3.5em;
	cursor: pointer;
}

.cvButton,
.cvButton *{
	color: var(--PositiveColour-Contrast);
	text-shadow: 1px 2px black;
	text-decoration: none;
}



@media only screen and (max-width: 1070px){
	#headerLogo{
		display: none;
	}

	nav{
		padding-left: 0em;
	}
}



@media only screen and (max-width: 775px){
	.navLink:not(#homeNavLink){
		display: none;
	}

}