
<div id="overlayHolder" class="glass" onclick="CloseOverlay()">

</div>
<script src="<%= PageData.PathToRoot %>Public/js/Expandable.js"></script>
<link rel="stylesheet" type="text/css" href="<%= PageData.PathToRoot %>Public/css/Optional/Expandable.css">