<!-- used for light/dark mode icons -->
<Header>
	<a id="headerLogo" href="/index.html">
		<%- include('Picture', {ImgData: {
			Path:"Public/Assets/Logo/Logo",
			ClassList: "",
			Alt:"Portfolio Logo",
			Sizes: "5em"
		}}); %>

	</a>
	<nav>
		<% if (PageData.PageName == 'index' && PageData.PageParent == ".") { %>
			<a href="/Education/Degree/index.html"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Degree
			</a>
			<a href="#Work"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Work
			</a>
			<a href="#Projects"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Projects
			</a>
		<%}else{%>
			<a href="/index.html" id="homeNavLink"
				class="navLink scaleOnFocus <% if (PageData.PageName == 'index') { %>selected<%}%>">Home
			</a>
			<% if (PageData.PageParent == 'Education/Degree' && PageData.PageName != "index") { %>
				<a href="/Education/Degree/index.html"
					class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Degree
				</a>
			<%}%>
		<%}%>

		<% if (PageData.SiteConfig.ContactLinks.CVDownloadAllowed) { %>
		<a href="<%=PageData.PathToRoot%>CV.pdf" target="_blank" class="cvButton shaded sheen scaleOnFocus right">
			CV <span class="material-icons">download</span>
		</a>
		<%}%>

	</nav>
</Header>