// filtering

.filterable {
	opacity: 1;
	transition: opacity 0.2s linear, max-width 0.2s linear, max-height 0.2s linear, margin 0.2s linear, border-width 0.2s linear;

}

.filterable.filtered {
	opacity: 0;
	margin: 0px;
	max-height: 0px;
	max-width: 0px;
	border-width: 0px;
}



.FilterOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	width: fit-content;
	padding-inline: 1.5em;
	padding-block: 0.25em;
	border-radius: 1em;
}

.FilterOptions>*,
.filterButton * {
	margin: 0px;
	padding: 0px;
	margin-inline: 0.25em;
	color: var(--Colour-Text1);
}



// filter buttons
.filterButton {
	border-width: 4px;
	border-style: solid;

	margin-block: 0.25em;
	margin-inline: 0.25em;

	padding: 0.25em;
	padding-left: 0px;
	background-color: var(--BackgroundColour);
	border-radius: 0.75em;

	transition: all 0.3s;

	display: flex;
	align-items: center;
	max-height: 2.5em;
	overflow: hidden;

	transition: opacity 0.2s, color 0.2s, border-color 0.2s;

	border-color: #555;
	color: var(--Colour-Text1);
	opacity: 0.7;
	cursor: pointer;
}

.filterButtonIcons {
	margin-left: -3px;
	padding: 0px;
	display: flex;
	align-items: center;
	flex-direction: column;

	border-top-right-radius: 0.75em;
	border-bottom-right-radius: 0.75em;

	// set background to gradient between positive and negative
	background: linear-gradient(180deg,
			var(--PositiveColour) 25%,
			#555 35%,
			#555 65%,
			var(--InvalidColour) 75%);

	transition: transform 0.2s;
}

.filterButtonIcons>* {
	padding-block: 0.2em;
	// color: var(--BackgroundColour);
	color: var(--Colour-Text1);
}



.filterButton.positive {
	border-color: var(--PositiveColour);
	color: var(--PositiveColour-Contrast);
	opacity: 1;
}

.filterButton.neutral {
	border-color: #555;
	color: var(--Colour-Text1);
	opacity: 0.7;
}

.filterButton.negative {
	border-color: var(--InvalidColour);
	color: var(--InvalidColour-Contrast);
	opacity: 1;
}

.filterButton.positive>.filterButtonIcons {
	transform: translateY(33%);
}

.filterButton.neutral>.filterButtonIcons {
	transform: translateY(0%);
}

.filterButton.negative>.filterButtonIcons {
	transform: translateY(-33%);
}