
<div id="overlayHolder" class="glass" onclick="CloseOverlay()">

</div>
<script src="JavaScript/Expandable.js"></script>
<link rel="stylesheet" type="text/css" href="StyleSheets/CommonStyles/Expandable.css">