
<div id="overlayHolder" class="glass" onclick="CloseOverlay()">

</div>
<script src="Public/JavaScript/Expandable.js"></script>
<link rel="stylesheet" type="text/css" href="Public/StyleSheets/CommonStyles/Expandable.css">