
<div id="overlayHolder" class="glass" onclick="CloseOverlay()">

</div>
<script src="<%= PageData.PathToRoot %>Public/JavaScript/Expandable.js"></script>
<link rel="stylesheet" type="text/css" href="<%= PageData.PathToRoot %>Public/StyleSheets/CommonStyles/Expandable.css">