<link rel="stylesheet" type="text/css" href="StyleSheets/CommonStyles/HeaderStyle.css">

<!-- used for light/dark mode icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<Header class="glass">

	<a href="index.html"><i class="left material-icons">home</i></a>

	<div class="center headerCenter">
		<img id="headerLogo" src="Assets/Logo/Logo.png" alt="Logo">
		<h1 class="center mainTitle">Louie Jones-Strong</h1>
	</div>

	<div class="right">

		<button onclick="SetFontSize(0.75)"	type="button" style="font-size: calc(var(--BaseFontSize) * 0.5	);">A</button>
		<button onclick="SetFontSize(1)"	type="button" style="font-size: calc(var(--BaseFontSize) * 1	);">A</button>
		<button onclick="SetFontSize(1.25)"	type="button" style="font-size: calc(var(--BaseFontSize) * 1.25	);">A</button>

		<button onclick="ToggleTheme()" type="button" class="themeButton">
			<div id="darkModeIcon" class="themeIcon">
				<i class="material-icons">light_mode</i>
			</div>
			<div id="lightModeIcon" class="themeIcon">
				<i class="material-icons">dark_mode</i>
			</div>
		</button>
	</div>
</Header>
<script src="JavaScript/ToggleTheme.js"></script>
<script src="JavaScript/ChangeFontSize.js"></script>