<link rel="stylesheet" type="text/css" href="StyleSheets/CommonStyles/HeaderStyle.css">

<!-- used for light/dark mode icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<Header class="glass">

	<a href="index.html"><i class="left material-icons">home</i></a>

	<div class="center headerCenter">
		<img id="headerLogo" src="Assets/Logo/Logo.png" alt="Logo">
		<h1 class="center mainTitle">Louie Jones-Strong</h1>
	</div>

</Header>