<link rel="stylesheet" type="text/css" href="StyleSheets/CommonStyles/HeaderStyle.css">

<!-- used for light/dark mode icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<Header>
	<a id="headerLogo" href="index.html">
		<img src="Assets/Logo/Logo.png" alt="Logo">
	</a>

	<nav>
		<% if (PageData.PageName == 'index') { %>
			<a href="#WorkExperience"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Work Experience</a>
			<a href="#PersonalProjects"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Personal Projects</a>
			<a href="#GameJams"
				class="navLink scaleOnFocus <% if (PageData.PageName == '') { %> selected<%}%>">Game Jams</a>
		<%}else{%>
			<a href="index.html"
				class="navLink scaleOnFocus <% if (PageData.PageName == 'index') { %> selected<%}%>">Home</a>

		<%}%>

		<a href="CV.PDF" target="_blank" class="cvButton shaded sheen scaleOnFocus right">
			CV <span class="material-icons">download</span>
		</a>
	</nav>


</Header>