<div id="loaderHolder" class="background">
	<link rel="stylesheet" type="text/css" href="<%= PageData.PathToRoot %>Public/StyleSheets/CommonStyles/LoaderStyle.css">

	<span class="loadingAnim">
		<span class="loadingAnim-inner"></span>
	</span>

	<h3>Loading</h3>

	<script src="<%= PageData.PathToRoot %>Public/JavaScript/Loader.js"></script>
</div>