<div id="loaderHolder">
	<link rel="stylesheet" type="text/css" href="StyleSheets/CommonStyles/LoaderStyle.css">

	<span class="loadingAnim">
		<span class="loadingAnim-inner"></span>
	</span>

	<h3>Loading</h3>

	<script src="JavaScript/Loader.js"></script>
</div>