body{
	--HeaderHeight: 100px;
}


#Header{
	z-index:1000;
	width:100%;
	position: sticky;
	top: 0;
}

Header{
	width: 100%;

	height: var(--HeaderHeight);

	display: flex;
	justify-content: space-between;
}

Header .material-icons{
	font-size: 50px;
}

.headerCenter{
	justify-self: center;
	display: flex;
}

#headerLogo{
	height: var(--HeaderHeight);
}

.mainTitle{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	justify-self: center;
	text-shadow: 0px 0px 3px var(--BackgroundColour);
}


/*Tablet -------------------------------------*/
@media only screen and (min-width: 701px) and (max-width: 900px){
	body{
		--HeaderHeight: 75px;
	}

	.mainTitle{
		display: none;
	}
}

/*Phone -------------------------------------*/
@media only screen and (max-width: 700px){

	body{
		--HeaderHeight: 50px;
	}
	.headerCenter{
		display: none;
	}
}